{%extends 'base.html'%}
{% block content%}
{%load static%}
<style>
    p {
        margin-left: auto !important;      
    }
</style>
<ul class="nav nav-pills">
    <li class="nav-item"><a href="{%url 'index'%}" class="nav-link px-2 text-white" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="{%url 'about'%}" class="nav-link px-2 text-secondary">About</a></li>
    <li class="nav-item"><a href="{%url 'podcastList'%}" class="nav-link px-2 text-white">Podcasts</a></li>
  
  </ul>
</header>
  <div style="background-color:white">
    <center><h1 class="fw-bold mb-0">About Me</h1></center> 
    <p><center>
       <i>He said to them, “Go into all the world and preach the gospel to all creations”.</i> 
    </center>
    <p><center>
        <i>– Mark 16:15</i> 
     </center>
    </p>   
    <p><center>
        This verse was probably the first thing that came to mind when Pastor Thomas A. DeLoach decided to accept the call to preach. He pursued the call of God at the young age of 24.
     </center>
    </p> 
    <p><center>
        Pastor DeLoach was born in Louisville, Alabama and was later brought to Canton, Ohio by his mother. He attended Canton Public Schools, where he was very active. At the age of 13, Pastor DeLoach taught himself how to play the drums. He likewise became quite good in playing two other instruments. Grateful for the talents bestowed on him, he vowed to give all the glory and honor back to God – not only through music but in all significant aspects of his life.       </center>
    </p>    
    <p><center>
        Although he was new to preaching, Pastor DeLoach instantly connected with his audience. Over the years, he became more and more passionate and devoted to his calling. Today, he is considered one of the most endearing, appealing, and dedicated preachers of the Gospel.    </p>   
    <p><center>
        Pastor DeLoach preaches from the pulpit with demonstration and a prophetic anointing to help disperse guidance. He captures the hearts of the young and he shares words of wisdom to his fellows and his seniors in the ministerial ranks. His ability to reach God’s people where they are and preach a truthful and sometimes provocative message is his greatest quality.

    </p>   
        <p><center>
            Pastor DeLoach also believes that part of his calling is to raise the standard of character and integrity of our leaders nowadays. He does this in the most sincere, subtle but efficient manner.

        </p>   
        <p><center>
            He stepped closer to fulfilling his goals when he and his wife Charise founded the Word of Life Outreach Ministries in February 2003. Word of Life is a non-profit organization that reaches out to communities with the Word of God, offering practical solutions for everyday problems, managing self-esteem, building marriage relationships, and constructing character. His commitment, tenacity, and a strong desire to fulfill God’s mandate during these tumultuous times helped unlock the door to his new assignment from the Lord.
        </p>
        <p><center>
            On February 19, 2006 Pastor Thomas, along with his wife, orchestrated the first service of Word of Life Church in Raleigh, North Carolina.        </p>
        <p><center>
            In 2012, Pastor DeLoach received an Honorary Doctorate of Divinity Degree from St. Thomas Christian University.  Pastor DeLoach balances his life as a devoted husband, proud father to only son Mekhi Alexander, and as Senior Pastor/Founder of Word of Life Church. His faith in God and determination to reach out to as many people as possible allows him, as a man of God, to blaze a trail for others to follow.

</p>
                
    </div>
  {% endblock %}