{%extends 'base.html'%}
{% block content%}
{%load static%}
<style>
    body {background-color: black;}

</style>
<!--First section-->
<div style="background-color:blue">
<center><img src = "{% static 'Pastor-Deloach-cool-stance-black-and-white-fade.png' %}"height:250px; width = 300px;></center>
</div>
<div style="background-color:white">
<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom"><center>“2 Empower U” Podcast Brings You: </center></h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-color:blue !important">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Mentorship</h2>
            <h3>
                Being a trainer is serious business but I believe I can coach, educate, equip, and advise you on how to live a spirit led life with these episodes as well as other sessions I can provide for you.
            </h3>
            <ul class="d-flex list-unstyled mt-auto">

              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-color:blue !important">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Building Partnership with God
            </h2>
            <h3>Acknowledge how things are impossible without God. Two is always better than one.            </h3>
            <ul class="d-flex list-unstyled mt-auto">
              
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-color:blue !important">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Strategy & Execution of Goals
            </h2>
            <h3>Set goals, make the right activities to reach your desired results. And don’t forget His spiritual guidance. Always.            </h3>
            <ul class="d-flex list-unstyled mt-auto">

            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-color:blue !important">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Strategy & Execution of Goals
            </h2>
            <h3>Set goals, make the right activities to reach your desired results. And don’t forget His spiritual guidance. Always.            </h3>
            <ul class="d-flex list-unstyled mt-auto">

            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div style="background-color:blue">
    <center><img src = "{% static 'microphone-159768_960_720-nlhkixf4fhdxg1w8g2xlfxvphp6k59rxo0wkdlpbxc.png' %}"height:250px; width = 300px;></center>
    </div>
{% endblock %}